ion-tab-bar ion-tab-button {
    position: relative;
}

ion-tab-bar ion-tab-button ion-label {
    position: relative;
    z-index: 2;
    padding: 2px 6px;
    color: #504D4D;
    font-weight: 900;
}

ion-tab-bar ion-tab-button.tab-selected ion-label::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    bottom: -2px;
    height: 16px;
    background-color: #FAEAB1;
    border-radius: 999px;
    color: #504D4D;

    z-index: -1;
}

ion-tab-bar ion-tab-button ion-ripple-effect {
    display: none;
}

ion-tab-bar ion-tab-button::part(native)::after {
    background: transparent !important;
    color: #504D4D;

}

ion-tab-bar ion-tab-button::part(native):hover {
    background: transparent;
    color: #504D4D;
}

ion-tab-bar ion-tab-button::part(native):focus {
    background: transparent;
    color: #504D4D;

}

ion-tab-bar ion-tab-button::part(native):active {
    background: transparent;
    color: #504D4D;

}