/* For information on how to create your own theme, please refer to:
http://ionicframework.com/docs/theming/ */
@import url('https://fonts.googleapis.com/css2?family=Mali:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');

* {
    background-color: #FAF8F1 !important;
    font-family: 'Mali' !important;
    
}
ion-content {
  --background: #FAF8F1;
}

ion-tab-bar{
    padding-bottom: 10px;
    padding-top: 10px;
}
